{% extends 'main.html' %}

{% block title %}Log In{% endblock %}

{% block page %}

<div class="row-center pt-5">
    <div class="col-lg-4 offset-lg-4">
        <form method="post">
            <h2 class="text-center pb-4">Log In!</h2>
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
            {% endif %}
            {% load widget_tweaks %}
            {% for field in form %}
            <div class="form-group {% if field.errors %}alert alert-danger{% endif %}">
                {{ field.errors }}
                <b>{{ field.label_tag }}</b><br>
                {% if field.help_text %}<small class="text-muted">{{ field.help_text|safe }}</small>{% endif %}
                {% render_field field class="form-control" %}<br>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-secondary">Log In</button>
            <input type="hidden" name="next" value="{{ next }}">
            <a href="{% url 'password_reset' %}" class="d-flex justify-content-end">Forgotten your password?</a>
        </form>
    </div>
</div>

{% endblock %}
