{% extends "main.html" %}

{% block title %}Password Reset{% endblock %}

{% block page %}

<div class="row-center pt-5">
    <div class="col-lg-6 offset-lg-3 text-center">
        <h2 class="pb-4">Email Sent!</h2>
        <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You
        should receive them shortly.</p>
        <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your
        spam folder.</p>
        <p class="text-center text-muted pt-2">Click <a href="{% url 'homepage' %}">here</a> to return to the Homepage</p>
    </div>
</div>

{% endblock %}
