{% extends 'main.html' %}
{% load bootstrap %}
{% block title %}Password Reset{% endblock %}

{% block page %}

<div class="row-center pt-5">
    <div class="col-lg-6 offset-lg-3">
        {% if validlink %}
        <h2 class="text-center pb-4">Change Your Password</h2>
        <p>Please enter your new password twice, so we can verify you typed it in correctly</p>
        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
            {% endif %}
            {% load widget_tweaks %}
            {% for field in form %}
            <div class="form-group {% if field.errors %}alert alert-danger{% endif %}">
                {{ field.errors }}
                <b>{{ field.label_tag }}</b><br>
                {% if field.help_text %}<small class="text-muted">{{ field.help_text|safe }}</small>{% endif %}
                {% render_field field class="form-control" %}<br>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-secondary">Change Password</button>
        </form>
        {% else %}
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
            reset.</p>
    </div>
</div>
{% endif %}

{% endblock %}
