{% extends 'main.html' %}
{% load bootstrap %}
{% block title %}Edit Actor{% endblock %}


{% block page %}


<div class="row pt-5">
    <div class="col-md-6 offset-md-3">
        <h2 class="pl_font display-4 text-center pb-4">Edit<a href="{% url 'actor_details' object.id %}"> {{ object }}</a></h2>
            <form method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                {% if form.non_field_errors %}
            <div class="alert alert-danger">{{ form.non_field_errors }}</div>
            {% endif %}
            {% load widget_tweaks %}
            {% for field in form %}
            <div class="form-group {% if field.errors %}alert alert-danger{% endif %}">
                <script>
                $(function () {
                    $("#id_birthday").datepicker({
                     format:'yyyy-mm-dd',
                    });
                });

                </script>
                {{ field.errors }}
                <b>{{ field.label_tag }}</b><br>
                {% if field.help_text %}<small class="text-muted">{{ field.help_text|safe }}</small>{% endif %}
                {% render_field field class="form-control" %}<br>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-secondary">Update!</button>
            </form>
    </div>
</div>
{% endblock %}